.container{
    width: 17.5rem;
    height: 21rem;
    background-color: #B3CDDF;
    border-radius: 12px;
    text-align: center;
    justify-content: center;

    img{
        margin-top: 2rem;
    }

    p{
        margin: 1rem;
        font-size: 20px;
    }
}