$black-border: 1px solid black;

.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  align-items: center;
  height: 10vw;
  justify-content: space-between;
  color: white;
  padding: 0 20px;

  .logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border: $black-border;

    h1 {
      color: white;
    }
  }

  .navHeader {
    flex: 1;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .link {
      p{
      color: white;
      font-size: 20px;
      }
      :hover{
        font-size: 23px;
        transition: all .5s ease-in-out;
      }
    }
  }

  .searchBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
    transition: width 0.6s ease-in-out;
    width: 40px;

    input {
      width: 0;
      opacity: 0;
      border: none;
      outline: none;
      padding: 5px;
      font-size: 16px;
      background: transparent;
      color: white;
      transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      width: 200px;
      border: 2px solid white;
      input {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
